{% extends "site_base.html" %}

{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "PyCon JP Jobs Fair" %}{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block body_outer %}
    <div class="row">
        <div class="span12">
            <div class="page-head">
                <h1>{% trans "PyCon Jobs JP Fair" %}</h1>
                <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="read-more">{% trans "Learn how to become a sponsor" %} <span class="arrow"></span></a>
            </div>
        </div>

        {% sponsor_levels as levels %}

        <div class="span8">
            {% for level in levels %}
                <h3>{{ level.name }}</h3>

                {% for sponsor in level.sponsors %}
                    {% if sponsor.joblisting_text %}
                        <div class="job-post" id="sponsor-{{ sponsor.id }}">
                            <div class="post-content">
                                <h2>
                                    <a href="{{ sponsor.external_url }}">
                                        <img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.name }}" />
                                    </a>
                                </h2>
                                <h5>{{ sponsor.name }}</h5>
                                <p><a href="{{ sponsor.external_url }}">{{ sponsor.get_display_url }}</a></p>
                                {{ sponsor.joblisting_text|safe }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="span4">
            {% box "sponsor_jobs" %}
        </div>
    </div>
{% endblock %}
