{% extends "site_base.html" %}

{% load cache %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}

{% block head_title %}{% trans "About PyCon JP Sponsors" %}{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block body_outer %}
    <div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-head">
                <h1>{% trans "About PyCon JP Sponsors" %}</h1>
                <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="read-more">{% trans "Learn how to become a sponsor" %} <span class="arrow"></span></a>
            </div>
        </div>
        {% cache 600 "sponsors-list" %}
            {% sponsor_levels as levels %}

            {% for level in levels %}
                <div class="span12">
                    <h3>{{ level.name }}</h3>

                    <div class="row">
                        {% for sponsor in level.sponsors %}
                            <div class="span4">
                                <div class="sponsor" id="sponsor-{{ sponsor.id }}">
                                    <div class="sponsor-content">
                                        <h2>
                                            <a href="{{ sponsor.external_url }}">
                                                <img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.name }}" />
                                            </a>
                                        </h2>
                                        <h5>{{ sponsor.name }}</h5>
                                        <p><a href="{{ sponsor.external_url }}">{{ sponsor.get_display_url }}</a></p>
                                        <p>{{ sponsor.listing_text|urlize|linebreaks }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endcache %}
    </div>
    </div>
{% endblock %}
