<style>
    #sns_group {}
    #sns_group ul{
        list-style-type: none;
        display: block;
        margin: 10px 0;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }
    #sns_group li{
        display: inline-block;
    }
    #sns_group li.facebook {
        vertical-align: top;
        margin-top: 4px;
        margin-right: 30px;
    }
    #sns_group li.google {
        margin-top: 3px;
    }
    #sns_group li.hatena {
        vertical-align: top;
        margin-top: 3px;
    }
</style>
<div id="sns_group">
    <ul>
        <li class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="test">Tweet</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>
        </li>
        <li class="facebook">
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                // The described facebook appid
                var appID = null;

                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=" + appID + "&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="{{ request.path }}" data-layout="button_count" data-action="like"
                 data-show-faces="true" data-share="true"></div>
        </li>
        <li class="google">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <g:plusone></g:plusone>
        </li>
        <li class="hatena">
            <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
               data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja"
               title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                                                 alt="このエントリーをはてなブックマークに追加" width="20" height="20"
                                                 style="border: none;"/></a>
            <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
                    async="async"></script>
        </li>
    </ul>
</div>